#search_widget form i {
    position: absolute;
    padding: .5rem;
    
  }
  #search_widget form i.clear {
    right: 15px;
    display: none;
  }
  #search_widget form input {
    width: 100%;
    padding: 10px 40px;
    outline: none;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
  }